
body {
    margin: auto;
    padding: 50px;
    color: #572122;    
    font-size: 24px; /* Adjust the font size as needed */
    text-align: center;
    font-family: "Gill Sans", sans-serif;
  }
button{
    font-size: 24px;
    color: #572122;    
    font-family: "Gill Sans", sans-serif;
    margin: auto;
}
  
  /* Align text in the middle */
  label, input {
    font-size: 22px;
    margin: 0; /* Remove default margin */
    padding: 10px; /* Add padding for better readability */
  }
  